:root {
  --primary-color: saddlebrown;
  --secondary-color: purple;
  --background-color: aliceblue;
  --font-size-large: 4em;
  --font-size-medium: 24px;
  --font-size-small: 18px;
  --spacing-large: 30px;
  --spacing-medium: 20px;
  --spacing-small: 10px;
  --border-radius: 10px;
  --transition-duration: 0.3s;
}

#skills {
  padding: var(--spacing-large);
  background-color: white;
}

.skills-title {
  font-size: var(--font-size-large);
  text-align: center;
  margin-bottom: var(--spacing-large);
  color: var(--primary-color);
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--spacing-large);
  max-width: 1200px;
  margin: 0 auto;
  padding: var(--spacing-medium);
}

.skill-category {
  padding: var(--spacing-medium);
  border: 1px solid #ccc;
  border-radius: var(--border-radius);
  background-color: var(--background-color);
  transition: transform var(--transition-duration) ease, box-shadow var(--transition-duration) ease;
}

.skill-category:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.skill-category h2 {
  font-size: var(--font-size-medium);
  margin-bottom: var(--spacing-small);
  color: var(--primary-color);
}

.skill-category ul {
  list-style-type: none;
  padding: 0;
}

.skill-category li {
  margin-bottom: var(--spacing-small);
  font-size: var(--font-size-small);
  padding: var(--spacing-small) 0;
  transition: color var(--transition-duration) ease;
}

.skill-category li:hover {
  color: var(--secondary-color);
}

/* Responsive Design */
@media (max-width: 1024px) {
  .skills-container {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for tablets */
  }
}

@media (max-width: 768px) {
  .skills-container {
    grid-template-columns: 1fr; /* 1 column for smaller screens */
    gap: var(--spacing-medium);
    padding: var(--spacing-small);
  }

  .skill-category {
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .skills-title {
    font-size: 3em; /* Smaller font size for mobile */
    align-items: center;
  }

  .skill-category h2 {
    font-size: 20px;
  }

  .skill-category li {
    font-size: 16px;
  }
}